{% capture my_content %}
{%unless include.xml %}<h2>{{ page.title }}</h2>{% endunless %}
<ul>
    <li>Visit the <a href="{{ page.link}}">resource</a> ({{ page.type}})</li>
    <li>Updated: {{ page.date | date: '%d/%m/%Y' }}</li>
    <li>
        <a href="{{ site.baseurl}}/courses/{{ page.course | slugify }}#{{page.subject}}">
                {% include find_subject.html course=page.course subject=page.subject %} ·
                {{ page.course }}
        </a>
    </li>
</ul>

<hr>
{{ page.content }}
{% endcapture %}{%if include.xml %}{{ my_content | xml_escape | strip }}{% else %}{{ my_content }}{% endif %}