---
---

@import "{{ site.theme }}";

.page-header{
    padding: 2rem 6rem;

    h1 a {
        color: white;
    }
}

.btn.active{
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,255,255,0.25);
    border-color: rgba(255,255,255,1);
}

a.anchor {
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    text-decoration: none;
}