---
---

@import "{{ site.theme }}";

.page-header{
    padding: 2rem 6rem;

    h1 a {
        color: white;
    }
}

.btn.active{
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,255,255,0.25);
    border-color: rgba(255,255,255,1);
}